@model KarmaWebApp.Models.MainModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KarmaWeb.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <style>
    .v-center {
        margin-top: 7%;
    }
        .clickableimage {
            cursor: pointer; /* shows hand cursor*/
        }
        #karma_logon_button {
            height: 46px;
            width: 202px;
            background-image: url('/images/active_404.png');
            margin: 0 auto; /* centers inside outer div*/
        }
            #karma_logon_button:hover {
                background-image: url('/images/pressed_404.png'); /* updates image on hover */
            }
    </style>

</head>
<body>
    <div id="fb-root"></div>
    <script>
    $(function () // same as: $( document ).ready(fucntion()
    {
        console.log("document ready for v1.2!");
        $(".userisloggedOn").hide();
        $(".userisloggedOff").show();

        // by default, jQuery timestamps asynchronous requests to avoid them being cached by the browser.
        // You’ll want to disable this functionality using the ajaxSetup() method,
        // so that the SDK is cached locally between pages.
        $.ajaxSetup({ cache: true });

        // load facebook sdk async
        $.getScript('//connect.facebook.net/en_US/all.js', function () {

            // when facebook sdk loaded, call init.
            FB.init({
                // appId: '225642707613078',
                appId: '@KarmaWebApp.Models.MainModel.AppKey',
                    channelUrl: '/Scripts/app/Channel.html', // TODO: fix root url.
                    status: true, // check login status
                    cookie: true, // enable cookies to allow the server to access the session
                    xfbml: false  // parse XFBML
                });

                // register for facebook logon state change.
                FB.Event.subscribe('auth.authResponseChange', function (response) {
                    console.log('auth.authResponseChange:' + response.status);
                    if (response.status === 'connected') {
                        FB.api('/me?fields=id,name,picture', function (fb_me_response) {
                            // setup image, name, enter link.
                            $("#karma_user_img").attr("src", fb_me_response.picture.data.url);
                            $("#karma_user_name").html("Hello " + fb_me_response.name + "!")
                            $("a#MobileLink").attr('href', '/Android/?accessToken=' + response.accessToken);

                            // show loggedOn controls
                            $(".userisloggedOn").show();
                            $(".userisloggedOff").hide();
                        });
                    }
                    else {
                        console.log("user logged off")
                        $(".userisloggedOn").hide();
                        $(".userisloggedOff").show();
                    }
                });

                // setup the logon/logoff buttons. No need to provide response handlers its handled in event registration above
                $("#karma_logon_button").click(function () {
                    FB.login(function (response) {}, { scope: 'email' });
                });
                $("#karma_user_logoff").click(function () {
                    FB.logout(function (response) {});
                });
            });
        });
    </script>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">About</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right userisloggedOn">
                    <li><a id="karma_user_name" href="#">Hellow Unknown!</a></li>
                    <li>
                        <img id="karma_user_img" src="" alt="some_text">
                    </li>
                    <li><a id="karma_user_logoff" href="#">Logoff</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
           <div class="col-lg-12 text-center v-center">
                <h1>πr²</h1>
               <p class="lead">Making it easy</p>
               <br><br><br>
               <p><div id="karma_logon_button" class="userisloggedOff v-center clickableimage"></div></p>
                   <p><a id="MobileLink" href="http://asp.net" class="btn btn-primary btn-large userisloggedOn">Enter &raquo;</a></p>
               </div>
        <div class="row">
            <div class="col-md-4">
                    <h2>Everybody needs help</h2>
                    <p>
                        Need an occassional ride to airport? Need to borrow some powertools for your weekend projecct? Use karmaweb.com to ask help from friends who are
                        explicitely signed up to help!
                    </p>
                    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                </div>
            <div class="col-md-4">
                <h2>Friends love to help</h2>
                <p>People love to help friends.This app makes it easy to volunteer. By installing this app you are opting in to occasionally give ride to your friends. </p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Our Promise</h2>
                <p>We hate apps posting on our behalf as much you do. We promise to never post on your wall.</p>
                <p><a class="btn btn-default" href="/Home/NewsTicker">Learn more &raquo;</a></p>
            </div>
        </div>
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
